body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    padding-bottom: 20px;
    background: linear-gradient(to right, #5c5958, #feb47b);
  }
  
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  cursor: pointer;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-link {
  margin-left: 10px;
  margin-bottom: 15px;
  color: purple;
  text-decoration: none;
}

.form-paragraph {
  margin-left: 10px;
  color: #888;
}

.navbar{
  position: fixed;
  left:0;
  width: 100%;
  top:0;
}

.nav-link{
  margin: 0 10px;
  flex-grow: 0;
}

.navButton {
  background: none;   /* Removes any background styles */
  border: none;       /* Removes border */
  padding: 5px 10px;  /* Minimal padding */
  margin: 0 5px;      /* Spacing between buttons, adjust as necessary */
}

.searchInput input {
  width: 500px;
  height: 40px;
}

.searchResults {
  width: 100%;
}

.searchAptBtn{
  width: 100%;
}

.addReview{
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addReviewBtn{
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 30px;
  
}

.addReviewBtn:hover {
  background-color: darkgray;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.email{
  margin-left: 30px;
}